---
Checks:
    -*,
    clang-diagnostic-*,
    clang-analyzer-*,
    concurrency-*,
    bugprone-*,
    -bugprone-easily-swappable-parameters,
    cppcoreguidelines-*,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-vararg,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-avoid-c-arrays,
    -cppcoreguidelines-prefer-member-initializer,
    -cppcoreguidelines-pro-type-cstyle-cast,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-no-malloc,
    misc-*,
    -misc-non-private-member-variables-in-classes,
    -misc-use-anonymous-namespace,
    modernize-*,
    -modernize-use-trailing-return-type,
    -modernize-avoid-c-arrays,
    -modernize-use-nodiscard,
    -modernize-use-using,
    performance-*,
    -performance-move-const-arg,
    portability-*,
    readability-*,
    -readability-magic-numbers,
    -readability-identifier-naming,
    android-*,
    cert-*,
    -cert-dcl37-c,
    -cert-dcl51-cpp,
    -cert-dcl21-cpp,
    google-*,
    -google-readability-braces-around-statements,
    -google-readability-todo,
    -google-build-using-namespace,
    -google-explicit-constructor,
    -google-readability-casting,
    hicpp-*,
    -hicpp-braces-around-statements,
    -hicpp-avoid-c-arrays,
    -hicpp-no-array-decay,
    -hicpp-vararg,
    -hicpp-explicit-conversions,
    -hicpp-move-const-arg,
    -hicpp-signed-bitwise,
    llvm-*,
    -llvm-header-guard
WarningsAsErrors: ''
HeaderFilterRegex: '(Browser|Common|JNI)/[^/]+\.h$'
FormatStyle: file
CheckOptions:
    - { key: readability-braces-around-statements.ShortStatementLines, value: 2 }
    - { key: readability-function-cognitive-complexity.Threshold,      value: 35 }
...
