---
Language: Cpp
Standard: Latest
BasedOnStyle: WebKit
ColumnLimit: 120
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
Cpp11BracedListStyle: true
SpaceInEmptyBlock: false
---
Language: Java
IndentWidth: 4
BreakAfterJavaFieldAnnotations: true
JavaImportGroups: ['android', 'androidx', 'org', 'java']
SortJavaStaticImport: After
ColumnLimit: 120
...
