*.swp
*.iml
__pycache__
.gradle
.DS_Store
.vscode/
/.idea/*
!/.idea/codeStyles/
/local.properties
build/
captures/
.externalNativeBuild/
.cxx/
/wpe/src/main/cpp/imported/
/wpe/src/main/jniLibs/
/wpe/src/main/assets/gstreamer-1.0
/wpe/src/main/assets/gio
/wpe/src/main/java/org/freedesktop/gstreamer
/tools/minibrowser/src/main/resources/
