<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wpe.tvdemo_webgl2">

    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="true"/>

    <application android:allowBackup="true"
        android:label="WhoaThere"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Leanback">

        <activity
            android:name="com.wpe.wpe.WPEActivity"
            android:banner="@mipmap/ic_launcher"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="PageURL"
                android:value="https://get.webgl.org/webgl2/" />
        </activity>

    </application>

</manifest>
