<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wpe.wpe">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:extractNativeLibs="true">
        <!-- Do not remove this section. Service definition is generated at build time -->
        <!-- SERVICES PLACEHOLDER -->
    </application>

</manifest>
