<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:extractNativeLibs="true">
        <activity android:name="org.wpewebkit.wpeview.WPEViewTestActivity"
            android:label="WPEViewTestActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
            </intent-filter>
        </activity>


        <!-- Do not remove this section. Service definition is generated at build time -->
        <!-- SERVICES PLACEHOLDER -->
    </application>

</manifest>
