name: Build Feature Branch
on:
  pull_request:
    branches:
      - main

jobs:
  check:
    uses: ./.github/workflows/check-pr-format.yml
  test-jni:
    uses: ./.github/workflows/test-jni.yml
  lint:
    uses: ./.github/workflows/lint.yml
    with:
      build_type: Debug
  test:
    needs: lint
    uses: ./.github/workflows/test.yml
  build:
    needs: [lint, test, test-jni]
    strategy:
      matrix:
        build_type: [Release, Debug]
    uses: ./.github/workflows/build.yml
    with:
      build_type: ${{ matrix.build_type }}
