name: Check PR Formatting
on: workflow_call

jobs:
  check-format:
    runs-on: ubuntu-24.04
    permissions: { }
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Fetch Git History
        run: |
          git fetch --no-tags --prune --depth=1 \
            origin +refs/heads/${{ github.base_ref }}:refs/remotes/origin/${{ github.base_ref }}
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13t
          cache: pip
          cache-dependency-path: |
            tools/scripts/requirements.lock
      - name: Install Python Dependencies
        run: |
          pip install -r tools/scripts/requirements.lock
      - name: Check
        run: |
          tools/scripts/check-format.py --diff-format origin/${{ github.base_ref }}
